@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.split {
  height: 500px;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: 'raleway', sans-serif;
}

.left {
  left: 0;
  background-color: #fff;
  color: #000;
}

.right {
  right: 0;
  background-color: #fff;
  color: #000;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 80%;
}
