@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.background-container {
  background-image: url("../img/joonyeop-baek-1kf69eE7VR4-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: auto;
  height: 400px;
  width: 100%;
  margin-top: -30px;
  text-align: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  justify-content: center;
}

.title-container {
  font-family: 'raleway', sans-serif;
  font-size: 2.3em;
  font-weight: 300;
  color: #fff;
}

#container {
    height: auto;
    width: 100%;
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
