ErrorDocument 503 docs/error_pages/503.html
ErrorDocument 401 docs/error_pages/401.html
ErrorDocument 500 docs/error_pages/500.html
ErrorDocument 301 docs/error_pages/301.html
ErrorDocument 403 docs/error_pages/403.html
ErrorDocument 400 docs/error_pages/400.html
ErrorDocument 408 docs/error_pages/408.html
ErrorDocument 302 docs/error_pages/302.html
ErrorDocument 405 docs/error_pages/405.html
ErrorDocument 415 docs/error_pages/415.html
ErrorDocument 404 docs/error_pages/404.html
ErrorDocument 501 docs/error_pages/501.html
ErrorDocument 502 docs/error_pages/502.html
ErrorDocument 504 docs/error_pages/504.html
ErrorDocument 505 docs/error_pages/505.html
