   .title-container {
    background-image: url("../../assets/images/clay-banks-dJu0NhEzlX4-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  color: white;
  font-family: helvetica;
  position: block;
  z-index: auto;
  height: 400px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
  }
  .card {
    width: 30%;
    height: auto;
    margin: 15px;
    border-radius: 0.25rem;
    text-decoration: none;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    background: #333;
    box-sizing: border-box;
    transition: transform .5s;
    @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
  }
  .card:hover {
      cursor: pointer;
      transform: scale(1.1);
}
      
  .cardImage {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    overflow: hidden;
    position: relative;
}
  .cardCaption {
      margin-left: 8px;
      color: white;
      font-family: helvetica;
      font-size: 1.5em;
}
