.bg-image {
    height: 600px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 0.5rem;
    background-image: url("/assets/images/clay-banks-dJu0NhEzlX4-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
    .bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-family: helvetica;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 600px;
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 0.5rem;
  text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
  }
  .card {
    width: 30%;
    height: auto;
    margin: 15px;
    border-radius: 0.25rem;
    text-decoration: none;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    background: #121212;
    box-sizing: border-box;
    transition: transform .5s;
    @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
  }
  .card:hover {
      cursor: pointer;
      transform: scale(1.1);
}
      
  .cardImage {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    overflow: hidden;
    position: relative;
}
  .cardCaption {
      margin-left: 8px;
      color: white;
      font-family: helvetica;
      font-size: 1.5em;
}
