.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
  }
  .card {
    width: 30%;
    height: 340px;
    margin: 10px;
    border-radius: 8px;
    background: #bbb;
    box-sizing: border-box;
  }
