body {
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: #333;
    overflow: auto;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 4;
  }
  
  /* Navbar links */
  .navbar a, input {
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-family: helvetica;
    font-size: 17px;
  }

  .navbar #navbar_home {
      float: left;
  }

  .navbar #navbar_search, .search.box {
      float: right;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    color: #add8e6;
  }
  
  /* Current/active navbar link */
  .active {
    color: #add8e6;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
